version: '3.8'

services:
  api:
    build: .
    container_name: datafood_api
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    environment:
      - DATABASE_URL=postgresql://challenge:challenge_2024@postgres:5432/challenge_db
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15
    container_name: godlevel-db
    environment:
      POSTGRES_DB: challenge_db
      POSTGRES_USER: challenge
      POSTGRES_PASSWORD: challenge_2024
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U challenge -d challenge_db"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
    driver: local