version: '3.8'

services:
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: datafood_api
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
    environment:
      - DATABASE_URL=postgresql://challenge:challenge_2024@postgres:5432/challenge_db
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15
    container_name: godlevel-db
    environment:
      POSTGRES_DB: challenge_db
      POSTGRES_USER: challenge
      POSTGRES_PASSWORD: challenge_2024
    ports:
      - "5432:5432"
    volumes:
      - ./backend/database-schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U challenge -d challenge_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  data-generator:
    build:
      context: ./backend
    container_name: nola_data_gen
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgresql://challenge:challenge_2024@postgres:5432/challenge_db
    command: >
      sh -c "
        echo 'Waiting for database...' &&
        sleep 5 &&
        echo 'Generating data...' &&
        python generate_data.py --db-url postgresql://challenge:challenge_2024@postgres:5432/challenge_db &&
        
        echo '--- DATA GENERATED ---' &&
        echo 'Waiting 5s before creating indexes...' &&
        sleep 5 &&
        
        echo 'Connecting to DB to create indexes...' &&
        psql -h postgres -U challenge -d challenge_db -f /app/02-indices.sql &&
        echo '--- INDEXES CREATED ---'
      "
volumes:
  postgres_data:
    driver: local